.detail-body .vdo{margin-top: 5px; position: relative; padding-top: 5px;}
.detail-body .vdo iframe{position: absolute; width: 100%; height: 100%; top: 0; left: 0;}

.detail-body .vdoYoutube{margin-top: 40px; position: relative; padding-top: 55%; margin-bottom: 10px;}
.detail-body .vdoYoutube iframe{position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.video-js{width: 100%; }

.wg-vdo .video-js{width: 100%; height: auto; padding-top: 56%;}


/* 31/01/61 */
.default-body .nocontent{background-color: #fff; min-height: 640px;}
