@media (max-width: 1600px) {
}


@media (max-width: 1440px) {

}


@media (max-width: 1199px) {
	.site-header .logo { width: 640px;}
	.site-header .thumb {width: 80px; height: 105px;}
	.site-header .thumb:before {top: 5px;left: 4px;width: 72px; height: 94px;}
	.site-header .title {font-size: 26px;}
	.site-header .desc { font-size: 22px;}

	.top-header .mainbar .action { padding-top: 20px;}

	.wg-into-slider .toolbox .wrapper {padding-right: 75px;}

	.toolbox.-boxII .wrapper {min-height: 320px;}

	.toolbox figure > img {width: 160px;height: 140px;}

	.pjc-box .h-title {font-size: 22px;}

	.project-close-slider .item {padding-bottom: 80px;}
	.project-close-slider .item .row-table{position: relative;}
	.project-close-slider .item .row-table > div:nth-child(3){position: absolute; z-index: 1; left: 118px; right: 0;bottom: -50px; width: auto;}

	.percircle.pjc {font-size: 104px;}
	.percircle.pjc .icon {width: 21px;height: 27px;top: -15px;}
	.percircle.pjc > span {font-size: 18px;margin-top: 4px;}

	.project-close-slider .slick-dots {bottom: 5px;}
	.project-close-slider .content {padding-left: 15px;padding-right: 15px;}
	.project-close-slider .title {margin-bottom: 2px;}
	.project-close-slider .btn+.btn {margin-top: 0; margin-left: 10px;}

	.pjr-box .h-title {margin-bottom: 5px; font-size: 22px;}
	.pjr-box .number {font-size: 120px; line-height: 140px;}

	.title-box {margin-bottom: 20px;}

	.footer-box .logo {width: 100px;}
	.footer-box .txt {padding-left: 10px;}
	.footer-box .txt .t1 {font-size: 28px;}
	.footer-box .txt .t2 {font-size: 21px;}
	.footer-box .txt .t3 {font-size: 17px;}
	.footer-box .txt2 {font-size: 14px;}
	.footer-box .thumb { width: 30px; margin-right: 5px;}
	.footer-box .thumb2 { width: 30px; margin-right: 5px;}

	.boxdestopsite {height: 40px;line-height: 40px; margin: 0;padding: 0;}

	.download-list .title {width: 320px;}

}

@media (max-width: 991px) {

	.site-header .language { padding-left: 10px;margin: 13px 0;}
	.site-header .language .goog-te-gadget-simple {font-size: 16px; position: relative; top: -4px;}
	.site-header .text-size {padding-right: 10px;}
	.site-header .text-size .txt {font-size: 16px;}
	.site-header .text-size .item-list .link {width: 34px;height: 34px;}
	.site-header .text-size .item-list li.sm .link {font-size: 16px;line-height: 34px;}
	.site-header .text-size .item-list li.md .link {font-size: 22px;line-height: 30px;}
	.site-header .text-size .item-list li.lg .link {font-size: 28px;line-height: 26px;}

	.site-header .logo {width: 430px;top: 42px;left: 10px;}
	.site-header .thumb { width: 60px; height: 76px;}
	.site-header .thumb:before {top: 3px;left: 3px; width: 54px; height: 70px;}
	.site-header .content {padding-left: 6px;}
	.site-header .title {font-size: 18px;}
	.site-header .desc {font-size: 16px;}

	.top-header .mbg-top {height: 100px;background-size: cover;}
	.top-header .mainbar .action{right: 10px; padding-top: 10px;}
	.top-header .mainbar .action .btn-home {width: 130px;height: 40px;line-height: 38px;font-size: 14px;}
	.top-header .main-slider .slick-dots {bottom: 25px;}
	.top-header .main-slider .cover{height: 300px;}
	.top-header .mbg-bottom {bottom: -10%; height: auto; padding-bottom: 10%; background-size: contain;}

	.default-page {padding-top: 30px;padding-bottom: 30px;}

	.wg-into-slider {margin: 0 -10px;}
	.wg-into-slider .item{padding: 10px;}

	.toolbox .title {font-size: 22px;}
	.toolbox .desc {font-size: 14px;}
	.toolbox .action {padding-top: 15px;}
	.toolbox .action .btn {width: 100px;height: 40px;line-height: 40px;font-size: 14px;}

	.toolbox.-boxII .wrapper {min-height: inherit;}

	.project-close-slider .item .row-table > div:nth-child(3){left: 130px;}
	.project-close-slider .title,
	.project-close-slider .desc,
	.project-close-slider .date,
	.project-close-slider .time,
	.project-close-slider .num{font-size: 14px;}

	.pjr-box{margin-top: 30px;}

	.h-clear {height: 35px;}

	.filter-box { margin-bottom: 30px;}
	.filter-box .filter{padding-bottom: 0;}

	.body-box .tbody .tr .td.title .thumb {width: 60px;height: 80px;}
	.body-box .tbody .tr .td,
	.body-box .tbody .date p,
	.body-box .tbody .date p:last-child,
	.body-box .tbody .td .detail-etc .num {font-size: 14px;}
	.body-box .tbody .td .detail-etc .num p br{display: none;}
	.body-box .tbody .tr .td.num{text-align: left;}
	.body-box .tbody .td .detail-etc .num .men{margin-left: 3px;}

	.footer-box {padding-top: 10px; background-size: cover;}
	.footer-box .contact {margin-bottom: 15px;margin-top: 10px;}
	.footer-box .thumb,
	.footer-box .thumb2 {width: 24px;margin-right: 10px;}
	.footer-box .container > .row+.row { margin-top: 20px;}
	.footer-box .w3c-blog {text-align: center;}
	.footer-box .social-list ul {text-align: center;}
	.footer-box .hitats {text-align: center;}
	.footer-end .txt {font-size: 14px;line-height: 50px;}
	.site-header .text-size .item-list .link {width: 28px;height: 28px;}

	.download-list .title {width: 550px;}

}


@media (max-width: 767px) {

	.site-header .language {padding-left: 5px;}
	.site-header .language .goog-te-gadget-simple {font-size: 12px; top: -1px;}
	.site-header .language .goog-te-gadget-simple .goog-te-menu-value>*:nth-child(5):before {font-size: 20px;}

	.site-header .text-size {margin: 13px 0; padding-right: 5px;}
	.site-header .text-size .txt{display: none;}
	.site-header .text-size .item-list>li+li {margin-left: 2px;}
	.site-header .text-size .item-list li.sm .link {font-size: 12px;line-height: 24px;}
	.site-header .text-size .item-list li.md .link {font-size: 16px;line-height: 24px;}
	.site-header .text-size .item-list li.lg .link {font-size: 20px;line-height: 21px;}
	.site-header .text-size .item-list .link {width: 24px;height: 24px;}
	.site-header .text-size .item-list:hover li.sm:hover .link {line-height: 22px;}
	.site-header .text-size .item-list:hover li.md:hover .link {line-height: 22px;}
	.site-header .text-size .item-list:hover li.lg:hover .link {line-height: 22px;}

	.site-header .logo {width: 220px;top: 50px;}
	.site-header .thumb{width: 43px;height: 56px;}
	.site-header .thumb:before {top: 3px;left: 2px;width: 39px;height: 50px;}
	.site-header .title{font-size: 14px; margin-bottom: 0px;}
	.site-header .title br{display: block;}
	.site-header .desc{font-size: 12px;}

	/*.site-header.tiny .title,
	.site-header.tiny .desc{opacity: 0; pointer-events: none;}*/
	.site-header.tiny .logo { width: 185px;}
	.site-header.tiny .thumb {width: 40px;height: 50px;}
	.site-header.tiny .thumb:before {top: 3px;left: 2px; width: 36px;height: 45px;box-shadow: 0px 0px 8px rgb(255 255 255);}
	.site-header.tiny .title {font-size: 10px;}
	.site-header.tiny .desc {font-size: 8px;}

	.top-header .mainbar .action .btn-home { width: 100px; height: 35px; line-height: 33px; font-size: 12px;}
	.top-header .main-slider .cover {height: auto;padding-bottom: 56%;}
	.top-header .main-slider .slick-dots {bottom: 13px;}

	.btn {height: 40px;line-height: 40px;font-size: 14px;}

	.slick-dots li,
	.slick-dots li button,
	.slick-dots li button:before,
	.slick-dots li.slick-active button:before{width: 8px;height: 8px;}

	.default-page {padding-top: 10px;padding-bottom: 10px;}

	.top-header .main-slider {margin-top: 35px;}

	.wg-into-slider .slick-dots {bottom: 25px;}

	.percircle.pjc {font-size: 170px !important;}
	.percircle.pjc .icon {width: 28px;height: 36px;top: -35px;}
	.percircle.pjc > span {font-size: 21px;}

	.toolbox.-boxII .wrapper{height: auto;}

	.toolbox .title {font-size: 20px;}

	.pjc-box .h-title {font-size: 20px;margin-bottom: 5px;}

	.project-close-slider .slick-dots{bottom: 0; position: relative;}
	.project-close-slider .item {padding-bottom: 0px;}
	.project-close-slider .item .row-table{display: block;}
	.project-close-slider .item .row-table > div{display: block; width: auto;}
	.project-close-slider .item .row-table > div:nth-child(1) {padding-top: 10px;}
	.project-close-slider .item .row-table > div:nth-child(3) {left: 0; bottom: 0; position: relative;}
	.project-close-slider .content{padding: 15px 0;}
	.project-close-slider .title{font-size: 14px;}
	.project-close-slider .date br{display: block;}
	.project-close-slider .num .blue {font-weight: bold;}
	.project-close-slider .btn{display: block; width: 100%;}
	.project-close-slider .btn+.btn{margin-left: 0; margin-top: 5px;}

	.pjr-box .h-title {font-size: 20px;margin-bottom: 5px;}
	.pjr-box .number {font-size: 90px;line-height: 70px;}
	.pjr-box .txt {font-size: 20px;}

	.default-title {font-size: 20px;}

	.filter-box .h-title {font-size: 20px;margin-bottom: 5px;}
	.filter-box .filter-search .btn{position: absolute; left: auto; width: 50px;}

	.body-box .tbody .tr .td.title .thumb {width: 40px;height: 52px;}

	.footer-box .col-md-4{position: relative;width: 100%;
	    -ms-flex: 0 0 100%;
	    -webkit-box-flex: 0;
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.footer-box .brand-blog{padding: 0 5px;}
	.footer-box .logo {width: 70px;}
	.footer-box .txt .t1 {font-size: 22px;}
	.footer-box .txt .t2 { font-size: 18px;}
	.footer-box .txt .t3 {font-size: 15px;}
	.footer-box .social > .row > div+div{margin-top: 10px;}
	.footer-box .wrapper .desc br{display: none;}

	/*.default-title:before {top: 21px; bottom: auto;}*/

	.member-list-page .questionare-detail .header {margin-top: 10px;}

	.assessment-form.member-list .dataTables_wrapper .dataTables_filter input {width: calc(100% - 122px);}

	.detail-block .header {padding: 15px;}
	.detail-block .header > .row-table{display: block;}
	.detail-block .header > .row-table > div{display: block;}
	.detail-block .header > .row-table > .col-auto{width: auto;}
	.detail-block .header .title {font-size: 22px;}
	.detail-block .header .info {font-size: 14px;width: auto;margin-top: 5px;}
	.detail-block .header .info ul {text-align: left;}
	.detail-block .body {padding: 15px;}

	.download-list .wrapper a {padding: 15px;}
	.download-list .wrapper a > .row-table > div{vertical-align: top;}
	.download-list .icon {width: 40px; height: 40px;font-size: 18px;}
	.download-list .icon span {line-height: 40px;}
	.download-list .title {width: 190px;font-size: 16px;}
	.download-list .info {font-size: 12px;}
	.download-list .info .col{display: block;}

	.no-content { width: 100%; margin: 0;}

	.assessment-form.member-list .dataTable tbody td.dataTables_empty{height: 40px; line-height: 40px;}

}

@media screen and (max-width: 575px){
	.detail-box{padding: 0 10px;}
	.body-box .tbody .tr .td .head-xs {word-break: break-word;}
	.body-box .tbody .tr .td.title .thumb {width: 26px;height: 36px;}
	.body-box .tbody .tr .td.title .thumb img {top: 8px;}

	.breadcrumb-block .row-table{display: block; position: relative;}
	.breadcrumb-block .row-table > .col{display: flex; margin-right: 60px;flex-wrap: nowrap;white-space: nowrap; overflow: auto;}
	.breadcrumb-block .row-table > .col-auto{display: block; width: auto; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; width: 50px; height: 24px;}
	.breadcrumb {display: flex; white-space: nowrap;
	    -ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	}
	.breadcrumb>li:nth-child(1){width: 16px;}
	.breadcrumb>li:nth-child(1) a{font-size: 0;}
	.breadcrumb>li, .breadcrumb>li a {height: 40px; line-height: 40px;}
	.breadcrumb .fa{line-height: 37px; margin-right: 0;}
	.breadcrumb-block .back {margin: 0;padding: 0; border-top: 0;}

}