.breadcrumb-block{display: flex; padding-top: 20px; margin-bottom: -44px;}
.breadcrumb{
	background-color: transparent; 
	margin: 0; 
	padding: 0;
    border-radius: 0;
    li{position: relative;
        & + li{ margin-left: 15px; padding-left: 30px;
            &:before{ content: '\e844'; font-family: "feather" !important; position: absolute; 
                left: 0; top: 1px; bottom: 0; margin: auto; padding: 0; color: rgba(255,255,255,0.4);
            }
        }
        &.active{ max-width: 300px;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
    }
    li,
    li.active,
    .link{color: var(--color-light); font-size: var(--typo-default);text-transform: uppercase;}
    .link{
        &:hover{color: var(--color-light);}
    }
}

// breakpoints
@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1199px) {
    .breadcrumb-block {padding-top: 10px;margin-bottom: -34px;}
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .breadcrumb li,
    .breadcrumb li.active,
    .breadcrumb .link{font-size: var(--typo-sm);}
}