// .breadcrumb-block {
//     margin-bottom: 1rem;
// }
.breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-radius: 0;
    .breadcrumb-item {
        text-decoration: none;
        // float: left;
        display: block;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
            text-decoration: none;
        }
        &.-nolimit {
            max-width: inherit;
        }
        &.active {
            color: var(--color-primary);
        }
        + .breadcrumb-item {
            max-width: 830px;
        }
    }
    li,
    .link {
        font-size: var(--typo-md);
        line-height: var(--line-height-1-4);
    }
    .breadcrumb-home {
        position: relative;
        padding-left: 35px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.654' height='21.237' viewBox='0 0 22.654 21.237'%3E%3Cg id='home' transform='translate(0 -16.017)'%3E%3Cpath id='Path_27989' data-name='Path 27989' d='M57.079,205.415H42.035A2.038,2.038,0,0,1,40,203.379V192.671a.708.708,0,0,1,1.416,0v10.708a.62.62,0,0,0,.619.619H57.079a.62.62,0,0,0,.619-.619V192.671a.708.708,0,0,1,1.416,0v10.708A2.038,2.038,0,0,1,57.079,205.415Z' transform='translate(-38.23 -168.161)' fill='%23004ac9'/%3E%3Cpath id='Path_27990' data-name='Path 27990' d='M21.946,26.987a.705.705,0,0,1-.5-.207l-8.8-8.8a1.86,1.86,0,0,0-2.628,0l-8.8,8.8a.708.708,0,0,1-1-1l8.8-8.8a3.278,3.278,0,0,1,4.63,0l8.8,8.8a.708.708,0,0,1-.5,1.209Z' transform='translate(0)' fill='%23004ac9'/%3E%3Cpath id='Path_27991' data-name='Path 27991' d='M182.371,297.186h-5.663a.708.708,0,0,1-.708-.708V290.2a2.215,2.215,0,0,1,2.212-2.212h2.655a2.215,2.215,0,0,1,2.212,2.212v6.283A.708.708,0,0,1,182.371,297.186Zm-4.956-1.416h4.248V290.2a.8.8,0,0,0-.8-.8h-2.655a.8.8,0,0,0-.8.8Z' transform='translate(-168.212 -259.933)' fill='%23004ac9'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .breadcrumb-item {
        position: relative;
    }
    .breadcrumb-item,
    .breadcrumb-item a {
        color: var(--color-primary);
    }
    .breadcrumb-item.active,
    .breadcrumb-item.active a {
        color: var(--color-primary);
    }
    .breadcrumb-item + .breadcrumb-item {
        padding-left: 1.75rem;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        position: absolute;
        content: "";
        top: 10%;
        left: 0.9rem;
        width: 1px;
        height: 80%;
        padding: 0;
        background-color: var(--color-primary);
    }
}

@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
    .breadcrumb li,
    .breadcrumb .link {
        font-size: var(--typo-default);
    }
    .breadcrumb .breadcrumb-item + .breadcrumb-item {
        max-width: 740px;
    }
}
@media (max-width: 1199px) {
    .breadcrumb .breadcrumb-item + .breadcrumb-item {
        max-width: 600px;
    }
    .breadcrumb .breadcrumb-home::before {
        width: 22px;
        height: 22px;
    }
}
@media (max-width: 991px) {
    .breadcrumb .breadcrumb-item + .breadcrumb-item {
        max-width: 400px;
    }
}
@media (max-width: 767px) {
    .breadcrumb .breadcrumb-item + .breadcrumb-item {
        max-width: 320px;
    }
    .breadcrumb .breadcrumb-home::before {
        width: 20px;
        height: 20px;
    }
    // .breadcrumb {
    //     flex-wrap: nowrap;
    // }
    .breadcrumb .breadcrumb-item + .breadcrumb-item {
       max-width: unset;
    }
    .breadcrumb-block nav {display: block; overflow: scroll;}
    .breadcrumb {
        display: inline-block;
        white-space: nowrap;
        width: auto;
        padding-bottom: 10px;
    }
    .breadcrumb .breadcrumb-item {
        display: inline-block;
    }
}
@media (max-width: 575px) {
}
