.btn{
	background: none; 
	position: relative; 
	padding: 0 20px; 
	min-width: 260px; 
	height: 50px; 
	line-height: 48px; 
	border: 1px solid transparent; 
	font-size: var(--typo-md); 
	font-weight: var(--fw-bold);
	border-radius: 0;
	span{
		font-size: 0.7em;
	}
	&.fluid{
		min-width: inherit; 
		width: 100%;
	}
	&:focus{
	    box-shadow: none;
	}
	&.btn-xs{

	}
	&.btn-sm{

	}
	&.btn-lg{
		height: 70px;
		line-height: 68px;
	}
}


.btn-icon{
	min-width: inherit;
	width: 44px;
	height: 44px;
	background-color: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-light);
	font-size: var(--typo-md);
	span{
		font-size: 1.1em;
		&.fa-solid{
			font-size: 0.9em;
		}
	}
	&:hover{
		color: var(--color-light);
	}
}


.btn:not(:disabled):not(.disabled).active:focus, 
.btn:not(:disabled):not(.disabled):active:focus, 
.show > .btn.dropdown-toggle:focus{
	box-shadow: none;
}


.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle{
	color: var(--color-light); 
	background-color: var(--color-primary); 
	border-color: transparent;
}
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.actitve:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.btn-primary:focus:hover,
.btn-primary.focus:hover{
	color: var(--color-light); 
	background-color: var(--color-secondary); 
	border-color: transparent;
}
.btn-primary.disabled,
.btn-primary.disabled:hover{
	color: var(--color-light); 
	background-color: var(--color-primary); 
	border-color: transparent; 
	opacity: 0.5;
}


.btn-light-border,
.btn-light-border:focus,
.btn-light-border.focus,
.btn-light-border:not(:disabled):not(.disabled).active, 
.btn-light-border:not(:disabled):not(.disabled):active, 
.show > .btn-light-border.dropdown-toggle{
	color: var(--color-light); 
	background-color: transparent;
	border-color: var(--color-light);
}
.btn-light-border:hover,
.btn-light-border:active:hover,
.btn-light-border.active:hover,
.btn-light-border:active:focus,
.btn-light-border.actitve:focus,
.btn-light-border:active.focus,
.btn-light-border.active.focus,
.btn-light-border:focus:hover,
.btn-light-border.focus:hover{
	color: var(--color-light); 
	background-color: transparent;
	border-color: var(--color-light);
}
.btn-light-border.disabled,
.btn-light-border.disabled:hover{
	color: var(--color-light); 
	background-color: transparent;
	border-color: var(--color-light);
	opacity: 0.5;
}


// breakpoints
@media (max-width: 1600px) {
}

@media (max-width: 1440px) {

}
@media (max-width: 1280px) {
}

@media (max-width: 1199px) {
	.btn{font-size: var(--typo-sm);}
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
	.btn {min-width: 145px; height: 40px;line-height: 38px;}
}