.chart-tabs {
    .chart-title {
        margin-right: 360px;
        margin-bottom: 1.25rem;
    }
    .chart-content {
        margin-top: 2.25rem;
        margin-bottom: 3rem;
        &.-bar-chart {
            .chart-container {
            }
        }
    }
}
.chart-tabs > {
    .nav-tabs {
        border: none;
        margin-bottom: -42px;
        .nav-item + .nav-item {
            margin-left: 1rem;
        }
    }
    .nav-tabs .nav-link {
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        border-radius: var(--border-radius-xs);
        height: 50px;
        line-height: 48px;
        padding: 0 1rem;
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        position: relative;
        color: #fff;
        background-color: transparent;
        border: none;
        z-index: 0;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: var(--gradient-secondary);
            z-index: -1;
            border-radius: var(--border-radius-xs);
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }
    }
}

@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
    .chart-tabs > .nav-tabs {
        margin-bottom: -40px;
    }
}
@media (max-width: 1199px) {
    .chart-tabs > .nav-tabs .nav-link {
        height: 44px;
        line-height: 42px;
    }
    .chart-tabs > .nav-tabs {
        margin-bottom: -36px;
    }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
    .chart-tabs > .nav-tabs {
        margin: 0 -7.5px;
    }
    .chart-tabs > .nav-tabs .nav-item {
        width: 50%;
        padding: 0 7.5px;
    }
    .chart-tabs > .nav-tabs .nav-item .nav-link {
        width: 100%;
    }
    .chart-tabs > .nav-tabs .nav-item + .nav-item {
        margin-left: 0;
    }
    .chart-tabs .chart-title {
        margin-top: 1.25em;
        margin-right: 0;
    }
}
@media (max-width: 575px) {
}
