.social-list {
    .icon {
        width: 1.9448em;
        height: 1.9448em;
    }
    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.9448em;
        height: 1.9448em;
        overflow: hidden;
    }
}
