.whead{
	margin-bottom: 40px;
	padding-bottom: 90px;
	position: relative;
	text-align: center;
	&:after{
		content: '';
		position: absolute;
		width: 2px;
		height: 60px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background-color: var(--color-primary);
	}
	.title{
		margin: 0; 
		font-size: var(--typo-xxl); 
		font-weight: var(--fw-bold);
		color: var(--color-primary);
		line-height: 1em;
	}
}


// breakpoints
@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1199px) {
    .whead {padding-bottom: 50px;}
	.whead:after {height: 40px;}
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
	.whead {padding-bottom: 20px;margin-bottom: 15px;}
	.whead:after {height: 20px;}
	.whead .title{font-size: var(--typo-xl);}
}