.whead {
	margin-bottom: 20px;
	.h-title {
		font-size: 56px;
		margin: 0;
	}
	.title {
		font-size: var(--typo-xl);
		font-weight: var(--fw-bold);
		line-height: var(--line-height-1-4);
		margin: 0;
	}
	.subtitle {
		font-size: var(--typo-lg);
		font-weight: var(--fw-bold);
		line-height: var(--line-height-1-4);
		margin: 0;
	}
	.desc {
		font-size: var(--typo-default);
	}
}

@media (max-width: 1600px) {
	.whead .h-title {
		font-size: 50px;
	}
}
@media (max-width: 1440px) {
	.whead .h-title {
		font-size: 46px;
	}
}
@media (max-width: 1199px) {
	.whead .h-title {
		font-size: 40px;
	}
}
@media (max-width: 991px) {
	.whead .h-title {
		font-size: 36px;
	}
}
@media (max-width: 767px) {
	.whead .h-title {
		font-size: 32px;
	}
}
@media (max-width: 575px) {
	.whead .h-title {
		font-size: 30px;
	}
}