.layout-header{
    background-color: #fff;
    position: sticky;
    z-index: 1000;
    box-shadow: var(--box-shadow-lg);
    top: 0;
    .logo{
        margin-right: 120px;
        padding: 15px 0;
        img{
            height: 70px;
        }
    }
    .menu{
        & > .nav-list {
            & > li{
                display: flex;
                align-items: center;
                height: 100px;
                position: relative;
                & + li{
                    margin-left: 60px;
                }
                & > .link{
                    font-size: var(--typo-md);
                    color: var(--color-default);
                    font-weight: var(--fw-normal);
                    &:hover{
                        color: var(--color-primary);
                    }
                    &.active{
                        color: var(--color-primary);
                        font-weight: var(--fw-medium);
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            background-color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
    .menu-sm{
        & > .nav-list {
            & > li{
                display: flex;
                position: relative;
                & + li{
                    margin-left: 40px;
                }
                & > .link{
                    font-size: var(--typo-sm);
                    color: var(--color-default);
                    font-weight: var(--fw-normal);
                    &.active{
                        color: var(--color-primary);
                        font-weight: var(--fw-medium);
                    }
                    &:hover{
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
    .tool{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .link{
            font-size: var(--typo-sm);
            color: var(--color-default);
            font-weight: var(--fw-normal);
            position: relative;
            &.active{
                color: var(--color-primary);
                font-weight: var(--fw-medium);
            }
            &:hover{
                color: var(--color-primary);
            }
        }
        .lang{
            margin-left: 30px;
            span{
                font-size: 1.2em;
                position: relative;
                top: 1px;
                margin-right: 4px;
            }
            .link:last-child{
                margin-left: 20px;
                &:before{
                    content: '';
                    position: absolute;
                    left: -12px;
                    top: 50%;
                    transform: translate(0,-50%);
                    width: 1px;
                    height: 12px;
                    background-color: var(--color-border);
                }
            }
        }
    }
}

.menu-mobile-btn{
    display: none;position: absolute;right: 10px;top: 0; bottom: 0; margin: auto; z-index: 3; width: 20px;height: 16px;
    .btn-mobile{display: block; width: 20px;height: 16px; transition: var(--transition);
        .bar{
            position: absolute;width: 100%;height: 2px;left: 0;background-color: var(--color-primary);margin: auto;
            transition: var(--transition); border-radius: 2px;
            &:nth-child(1){top: 0;};
            &:nth-child(2){top: 0; bottom: 0;}
            &:nth-child(3){top: 0; bottom: 0;}
            &:nth-child(4){bottom: 0;}
        }
        &.close{opacity: 1;
            .bar{
                &:nth-child(1){top: 0; opacity: 0;}
                &:nth-child(2){top: 0; bottom: 0; transform: rotate(45deg);}
                &:nth-child(3){top: 0; bottom: 0; transform: rotate(-45deg);}
                &:nth-child(4){bottom: 0; opacity: 0;}
            }
        }
    }
}

// breakpoints
@media (max-width: 1600px) {
}

@media (max-width: 1440px) {

}
@media (max-width: 1280px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .menu-mobile-btn{display: block;}

    .layout-global{position: relative; overflow: hidden; right: 0;}
	.layout-global .layout-header .overlay{visibility: hidden;opacity: 0; transition: var(--transition);}
	.layout-global .layout-body{position: relative;right: 0;  transition: var(--transition);}
	.layout-global .layout-footer{position: relative;right: 0;  transition: var(--transition);}
	.layout-global.sidebar-open .layout-header .overlay{opacity: 1;visibility: visible;}
	.layout-global.sidebar-open .layout-body{right: 260px;}
	.layout-global.sidebar-open .layout-footer{right: 260px;}

    .layout-header {position: fixed;left: 0;right: 0;}
	.layout-header > .container{position: relative; z-index: 99;}
	.layout-header .overlay{position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,0.8);}
	
    .layout-header .logo {margin-right: 0; padding: 5px 0;}
    .layout-header .logo img {height: 50px;}
    .layout-header .tool {margin-bottom: 0;}
    .layout-header .tool .lang {margin-left: 0;margin-right: 40px;}
	.layout-header .menu-sm {position: fixed; z-index: 100; top: 60px; bottom: 0; width: 260px; overflow: auto; 
        right: -260px; padding-left: 0; transition: var(--transition);
    }
	.layout-header .menu-sm.open {right: 0;}
	.layout-header .menu-sm > .nav-list{border-top: 1px solid var(--color-border);}
	.layout-header .menu-sm > .nav-list > li{width: 100%; border-bottom: 1px solid var(--color-border); display: block;}
    .layout-header .menu-sm > .nav-list > li + li{margin-left: 0;}
    .layout-header .menu-sm > .nav-list > li > .link{display: block; padding: 15px 20px;}

    .layout-body{padding-top: 60px;}
}

@media (max-width: 767px) {
}