.layout-global{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.layout-body{
    position: relative;
    overflow: hidden;
}


.default-header{
    position: relative;
    &.tiny{
        .wrapper{
            height: 200px;
        }
        .cover{
            &:after{
                background-color: var(--color-primary);
                opacity: 0.9;
            }
        }
    }
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        position: relative;
        z-index: 10;
        text-align: center;
    }
    .title{
        text-transform: uppercase;
        font-weight: var(--fw-bold);
        font-size: var(--typo-xxl);
        color: #fff;
    }
    .cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
        }
    }
}


.default-country{
    padding: 60px 0;
    .block{
        min-height: 300px;
        background-color: #fff;
        box-shadow: var(--box-shadow);
        & + .block{
            margin-top: 40px;
        }
    }
    .cover{
        width: 530px;
        padding-top: 67%;
    }
    .content{
        padding: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .header{
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--color-border);
        padding-bottom: 15px;
        .flag{
            width: 44px;
            height: 44px;
            border-radius: 50%;
            position: relative;
            margin-right: 15px;
        }
        .topic{
            margin: 0;
            color: var(--color-primary);
            font-weight: var(--fw-normal);
            text-transform: uppercase;
            font-size: var(--typo-xl);
        }
    }
    .body{
        margin-top: 15px;
    }
    .title{
        margin-top: 10px;
        font-size: var(--typo-md);
        font-weight: var(--fw-bold);
        color: var(--color-default);
        line-height: 1.2em;
        @extend .text-limit;
        -webkit-line-clamp: 3;
        height: calc(1.2em * 3);
    }
    .desc{
        margin-top: 10px;
        font-size: var(--typo-md);
        font-weight: var(--fw-medium);
        color: var(--color-default);
        line-height: 1.2em;
        @extend .text-limit;
        -webkit-line-clamp: 3;
        height: calc(1.2em * 3);
    }
    .footer{
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
    }
}

.default-head-inner{width: 100%;
    background-image: url(../img/background/bg-default-head.jpg);
    background-size: cover; background-position: center right; background-repeat: no-repeat;
    .inner{height: 240px; display: flex; justify-content: center; flex-wrap: nowrap; flex-direction: column;}
    .title{font-size: 80px; line-height: 0.7; color: var(--color-light); font-weight: var(--fw-bold); padding-left: 22px;
        border-left: 2px solid var(--color-light); text-transform: uppercase;
    }
}

.default-body-inner{padding: 45px 0 155px; background-color: var(--color-light);
    .head{margin-bottom: 50px;
        .row{align-items: center;}
        .h-title{font-size: var(--typo-xxl); color: var(--color-primary); text-transform: uppercase; font-weight: var(--fw-bold); margin: 0;
            &.a-center{text-align: center;}
        }
        .total{text-align: right;
            >span{display: block; line-height: 1;}
        }
        .title{font-size: var(--typo-default); color: var(--color-primary); text-transform: uppercase; font-weight: var(--fw-normal);}
        .desc{font-size: var(--typo-default); color: var(--color-darkgray); text-transform: uppercase; font-weight: var(--fw-normal);}
    }
    .body{position: relative;}
}

.checkbox-control{
    position: relative;display: inline-block;
    .icon{
        width: 28px; height: 28px; border: 1px solid var(--color-border); background-color: var(--color-light); 
        position: absolute; top: 10px;  left: 0; border-radius: 50%; text-align: center; line-height: 26px;
        transition: var(--transition);
    }
    .txt{
        margin: 0; font-size: var(--typo-md); font-weight: normal; color: var(--color-darklight); transition: var(--transition);
        padding-left: 50px; padding-top: 10px; padding-bottom: 10px; line-height: 28px; display: block;
    }
    input[type='checkbox']{margin-top: 0; position: absolute; z-index: 5; opacity: 0; width: 100%; height: 100%; top: 0; left: 0; cursor: pointer;}
    input[type='checkbox']:checked ~ .icon{
        border-color: var(--color-primary); background-color: var(--color-primary); color:var(--color-light);
        &:before{font-family: 'feather'; content: '\e83f'; font-size: var(--typo-md); position: relative; top: 0px;}
    }
    input[type='checkbox']:checked ~ .txt{font-weight: var(--fw-bold);}
    &:hover{
        .txt{color: var(--color-primary);}
    }
}

// breakpoints
@media (max-width: 1600px) {
}

@media (max-width: 1440px) {

    .default-head-inner .title {font-size: 75px;}

}

@media (max-width: 1199px) {

    .default-head-inner .inner {height: 180px;}
    .default-head-inner .title {font-size: 60px;}

    .default-body-inner .head {margin-bottom: 30px;}
    .default-body-inner .head .h-title{font-size: var(--typo-xl);}

    .checkbox-control .txt {padding-left: 40px; font-size: var(--typo-default);}

}

@media (max-width: 991px) {

    .default-head-inner .inner {height: 140px;}
    .default-head-inner .title {font-size: var(--typo-xxl);}

    .default-body-inner .head {margin-bottom: 20px;}
    .default-body-inner .head .h-title{font-size: var(--typo-lg);}

}

@media (max-width: 767px) {
    .default-body-inner {padding: 30px 0 80px;}
    .default-head-inner .inner {height: 120px;}
    .default-head-inner .title {font-size: var(--typo-xl);}
    .default-body-inner .head .row > div{flex: 0 0 100%; max-width: 100%;}
    .default-body-inner .head .total {margin-top: 10px;}

    .checkbox-control .icon { width: 20px;height: 20px;}
    .checkbox-control .txt {font-size: var(--typo-sm);padding-left: 30px;padding-top: 9px;padding-bottom: 8px;line-height: 20px;}

}