.hero-banner{
    position: relative;
    .cover{
        height: 720px;
    }
    .swiper-pagination{
        bottom: 140px;
    }
}

// breakpoints
@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1199px) {
    .hero-banner .cover{height: auto; padding-bottom: 60%;}
    .hero-banner .swiper-pagination {bottom: 110px;}
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .hero-banner .swiper-pagination {bottom: 50px;}
}