.news-page {
    .news-head {
        margin-bottom: 2rem;
    }
    .news-highlights {
        margin-bottom: 40px;
    }
    .news-list {
        > .row > div {
            &:only-child {
                margin-bottom: 0;
            }
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
    .news-page .news-highlights {
        margin-bottom: 24px;
    }
    .news-page .news-list > .row > div:not(:last-child) {
        margin-bottom: 24px;
    }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
    .news-page .news-highlights > .row > div + div {
        margin-top: 24px;
    }
}
@media (max-width: 575px) {
}
