.wg-news{
    margin-top: 100px;
    .action{
        margin-top: 60px;
        text-align: center;
    }
}

.wg-newspin-list{
    position: relative;
    margin-bottom: 20px;
    [aria-label=""].swiper-slide{
        opacity: 0.2;
    }
    .swiper-slide{
        opacity: 0;
        transition: all 400ms ease;
    }
    .swiper-slide-active{
        opacity: 1;
    }
    .swiper-pagination{
        bottom: 40px;
    }
}

.newspin-wrapper{
    .cover{
        width: 1000px;
        padding-top: 60.8%;
        .img-cover{transition: var(--transition);transform: scale(1);}
    }
    .content{
        float: right;
        width: 450px;
        height: 300px;
        background: url('../img/background/bg-box.png') center no-repeat;
        box-shadow: var(--box-shadow-lg); background-size: 100%;
        padding: 40px; transition: var(--transition);
        .title{
            font-size: var(--typo-lg);
            font-weight: var(--fw-bold);
            color: #fff;
            line-height: 1.4em;
            @extend .text-limit;
            -webkit-line-clamp: 3;
            height: calc(1.4em * 3);
        }
        .desc{
            margin-top: 15px;
            color: #fff;
            font-size: var(--typo-default);
            line-height: 1.5em;
            @extend .text-limit;
            -webkit-line-clamp: 3;
            height: calc(1.5em * 3);
        }
        .icon{
            margin-top: 20px;
            color: #fff;
            font-size: var(--typo-xl);
        }
    }
    .link:hover{
        .cover{
            .img-cover{transform: scale(1.1);}
        }
        .content{background-size: 110%;}
    }
}


.wg-news-list{
    .item-list{
        margin: 0 -10px;
        li{
            width: calc(100% / 3);
            padding: 0 10px;
        }
    }
    &.-inner{
        .item-list{
            li{margin-bottom: 100px;}
        }
    }
}

.news-wrapper{
    .cover{
        padding-top: 72%;
        .img-cover{transition: var(--transition);transform: scale(1);}
    }
    .content{
        min-height: 160px;
        margin-top: 25px;
        text-align: center;
        .title{
            font-size: var(--typo-md);
            font-weight: var(--fw-normal);
            color: var(--color-primary);
            line-height: 1.5em;
            @extend .text-limit;
            -webkit-line-clamp: 2;
            height: calc(1.5em * 2);
        }
        .desc{
            width: auto;
            max-width: 330px;
            margin: 20px auto 0;
            color: var(--color-default);
            font-size: var(--typo-default);
            line-height: 1.5em;
            @extend .text-limit;
            -webkit-line-clamp: 3;
            height: calc(1.5em * 3);
        }
    }
    .link:hover{
        .cover{
            .img-cover{transform: scale(1.2);}
        }
    }
}

// breakpoints
@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1199px) {
    .wg-news {margin-top: 80px;}

    .newspin-wrapper .cover {width: 660px;}
    .newspin-wrapper .content {width: 400px;height: 270px;padding: 20px;}
}

@media (max-width: 991px) {
    .newspin-wrapper .cover {width: 500px;}
    .newspin-wrapper .content {width: 330px;height: 255px;}
    .newspin-wrapper .content .title{font-size: var(--typo-md);}

    .wg-news-list.-inner .item-list li {margin-bottom: 40px;}
}

@media (max-width: 767px) {
    .wg-news {margin-top: 40px;}
    .wg-news .action {margin-top: 10px;}
    .wg-newspin-list .swiper-pagination {bottom: 0;position: relative;margin-top: 15px; margin-bottom: 30px;}
    
    .newspin-wrapper .row > div{flex: 0 0 100%; max-width: 100%;}
    .newspin-wrapper .cover {width: 100%;}
    .newspin-wrapper .content {width: 100%;height: auto; padding: 10px; float: none;}
    .newspin-wrapper .content .title{font-size: var(--typo-sm);}
    .newspin-wrapper .content .desc{font-size: var(--typo-xs);}
    .newspin-wrapper .content .icon {margin-top: 10px;font-size: var(--typo-md);}

    .wg-news-list .item-list{margin: -5px;}
    .wg-news-list .item-list li{width: 50%; margin-bottom: 10px; padding: 5px;}
    .wg-news-list.-inner .item-list li {margin-bottom: 10px;}

    .news-wrapper .content {margin-top: 10px; min-height: 100px;}
    .news-wrapper .content .title{font-size: var(--typo-sm);}
    .news-wrapper .content .desc{font-size: var(--typo-xs); margin: 5px auto 0;}
}