.wg-overview {
    margin-bottom: 1.25rem;
    .icon {
        width: 50%;
        height: 50%;
        img {
            color: #000 !important;
        }
    }
    .thumbnail {
        position: relative;
        margin-bottom: 1rem;
    }
    .inner {
        .title {
            font-size: var(--typo-xl);
            font-weight: var(--fw-bold);
            margin-bottom: 1rem;
        }
        .amount {
            font-weight: var(--fw-bold);
            font-size: 55px;
        }
        .measure {
            font-size: var(--typo-md);
            font-weight: var(--fw-bold);
            margin-top: 1rem;
        }
    }
    .theme-orange {
        .inner {
            .title,
            .amount {
                color: var(--color-orange);
            }
        }
    }
    .theme-blue {
        .inner {
            .title,
            .amount {
                color: var(--color-blue);
            }
        }
    }
    .theme-purple {
        .inner {
            .title,
            .amount {
                color: var(--color-purple);
            }
        }
    }
    .ov-list {
        .ov-item {
            text-align: center;
        }
    }
}

@media (min-width: 768px) {
    .wg-overview .ov-list .ov-item {
        padding: 0 1rem;
    }
}
@media (min-width: 992px) {
    .wg-overview .ov-list .ov-item {
        padding: 0 2rem;
    }
}
@media (min-width: 1200px) {
    .wg-overview .ov-list .ov-item {
        padding: 0 2.75rem;
    }
}
@media (min-width: 1441px) {
    .wg-overview .ov-list .ov-item {
        padding: 0 3.5rem;
    }
}


@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
    .wg-overview .inner .amount {
        font-size: 48px;
    }
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
    .wg-overview .inner .amount {
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    .wg-overview .inner .amount {
        font-size: 36px;
    }
}
@media (max-width: 575px) {
    .wg-overview .ov-list .ov-item + .ov-item {
        margin-top: 2rem;
    }
}
