.wg-prodcate-list{
    position: relative;
    z-index: 10;
    background-color: #fff;
    // height: 220px;
    margin-top: -110px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-lg);
    li{
        width: 20%;
        position: relative;
    }
    .link{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 220px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transform: scale(0.8);
            opacity: 0;
            background-color: var(--color-primary);
            transition: all 400ms ease;
        }
        &:hover{
            .icon{
                filter: brightness(0) invert(1);
            }
            .title{
                color: #fff;
            }
            &:before{
                transform: scale(1.06);
                border-radius: 0;
                opacity: 1;
            }
        }
    }
    .icon{
        width: 90px;
        height: 90px;
        margin: auto auto 0 auto;
        position: relative;
        z-index: 10;
        transition: all 400ms ease;
    }
    .title{
        margin-top: 30px;
        margin-bottom: auto;
        text-align: center;
        font-size: var(--typo-default);
        color: var(--color-primary);
        font-weight: var(--fw-normal);
        position: relative;
        z-index: 10;
        transition: all 400ms ease;
    }
}

.wg-prod{
    margin-top: 100px;
}

.product-slider-wrapper{
    position: relative;
}
.product-slider-center{
    .swiper-pagination{
        margin-top: 60px;
        bottom: 0;
        position: relative;
        background-color: #E8ECF4;
    }
    .product-list-wrapper{
        transition: all 200ms ease;
    }
    .swiper-slide-active{
        z-index: 20;
        .product-list-wrapper{
            transform: scale(1.3);
            transform-origin: center;
            box-shadow: var(--box-shadow);
        }
        .wrapper{
            margin: 0 -80px;
            .cover{
                box-shadow: var(--box-shadow-lg);
            }
            .content{
                margin-top: 30px;
                .title{
                    font-size: var(--typo-xl);
                }
                .desc{
                    opacity: 1;
                }
            }
        }
    }
    .wrapper{
        margin: 57px 0 0 0;
        .cover{
            background-color: #E8ECF4;
            padding-top: 72%;
            .img-cover{transition: var(--transition);transform: scale(1);}
        }
        .content{
            text-align: center;
            margin-top: 20px;
            .title{
                font-size: var(--typo-md);
                font-weight: var(--fw-normal);
                color: var(--color-primary);
            }
            .desc{
                margin-top: 15px;
                margin-left: auto;
                margin-right: auto;
                width: auto;
                max-width: 300px;
                color: var(--color-default);
                font-size: var(--typo-sm);
                opacity: 0;
            }
        }
    }
    .link:hover{
        .cover{
            .img-cover{transform: scale(1.2);}
        }
        .title{color: var(--color-secondary);}
    }
}

.detail-page{
    .main{
        .product-list .link .cover{padding-bottom: 75%; margin-bottom: 0;}
    }
}

.product-nav{
    .btn-more{display: none; cursor: pointer; padding: 5px 15px; border: 1px solid var(--color-primary); position: relative;
        font-size: var(--typo-sm); color: var(--color-primary); border-radius: 2px; margin-bottom: 15px;
        &:before{content: "\e8b1"; font-family: "feather"; position: absolute; top: 6px; right: 16px;}
        &.active{
            &:before{content: "\e897";}
        }
    }
    >.accordion{border: 1px solid #ECECEC;}
    .item{width: 100%;
        +.item{border-top: 1px solid #ECECEC;}
    }
    .link{display: block; padding: 30px 60px 30px 30px; font-size: var(--typo-md); font-weight: var(--fw-bold); 
        color: var(--color-primary); background-color: #F3F4F5; cursor: pointer;
        &.sub{font-weight: var(--fw-normal); color: var(--color-light); background-color: var(--color-primary); position: relative;
            &:before{content: '\e897'; font-family: "feather"; position: absolute;
                top: 0; right: 30px; bottom: 0; margin: auto; width: 20px; height: 20px;
            }
            &.collapsed{background-color: var(--color-secondary);
                &:hover{background-color: var(--color-primary);}
                &:before{content: '\e8b1';}
            }
        }
        &.subII{background-color: var(--color-light); position: relative; font-weight: var(--fw-bold);
            &:hover{color: var(--color-primary);}
            &:before{content: '\e897'; font-family: "feather"; position: absolute;
                top: 0; right: 30px; bottom: 0; margin: auto; width: 20px; height: 20px;
            }
            &.collapsed{
                &:before{content: '\e8b1';}
            }
        }
    }
    .collapse{
        >.accordion{
            >.item{border-top: 1px solid #ECECEC;}
        }
    }
    .item-list{
        >.item{width: 100%; border-top: 1px solid #ECECEC;}
        .link{font-size: var(--typo-default); background-color: var(--color-light); color: var(--color-darkgray);
            font-weight: var(--fw-normal); padding: 20px 50px; position: relative;
            &:before{content: '•'; position: absolute; top: 21px; left: 30px;}
            &:after{content: '\e844'; font-family: "feather"; position: absolute;
                top: 0; right: 25px; bottom: 0; margin: auto; width: 20px; height: 20px;
            }
            &:hover{color: var(--color-primary);}
        }
        .item.active{
            .link{background-color: var(--color-darkgray); color: var(--color-light);}
        }
    }
}

.product-list{
    .item-list{margin: -20px;
        >.item{width: calc(100%/2); padding: 20px; }
    }
    .link{display: block; box-shadow: var(--box-shadow-lg);}
    .cover{
        .img-cover{transform: scale(1); transition: var(--transition);}
    }
    .content{height: 120px; padding: 20px; background-color: var(--color-light);
        .line{width: 60px; height: 4px; margin-bottom: 20px; background-color: var(--color-secondary);}
        .title{font-size: var(--typo-md);font-weight: var(--fw-bold);color: var(--color-primary); line-height: 1.4em; margin-bottom: 8px;
            @extend .text-limit; transition: var(--transition);
            -webkit-line-clamp: 1;
            height: calc(1.4em * 1);
        }
        .desc{line-height: 1.4em; color: var(--color-default); font-size: var(--typo-default);
            @extend .text-limit;
            -webkit-line-clamp: 1;
            height: calc(1.4em * 1);
        }
    }
    .link:hover{
        .cover{
            .img-cover{transform: scale(1.2);}
        }
        .title{color: var(--color-secondary);}
    }
}

// breakpoints
@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1199px) {
    .wg-prodcate-list {margin-top: -80px;}
    .wg-prodcate-list .link {height: 160px;}
    .wg-prodcate-list .icon {width: 80px;height: 80px;}
    .wg-prodcate-list .title {margin-top: 20px;}

    .wg-prod {margin-top: 80px;}

    .product-nav .link {padding: 20px 40px 20px 20px;font-size: var(--typo-default);}
    .product-nav .link.sub:before {right: 15px;}
    .product-nav .link.subII:before {right: 15px;}
    .product-nav .item-list .link {padding: 15px 40px;}
    .product-nav .item-list .link:before{left: 20px; top: 16px;}
    .product-nav .item-list .link:after {right: 15px;}

    .product-list .content .title{font-size: var(--typo-default);}
    .product-list .content .desc{font-size: var(--typo-sm);}

}

@media (max-width: 991px) {
    .wg-prodcate{display: flex; overflow: auto; flex-wrap: nowrap; position: relative; z-index: 2; margin-top: -80px;
        box-shadow: var(--box-shadow-lg);
    }
    .wg-prodcate .container{width: auto; max-width: inherit;}
    .wg-prodcate-list{display: flex; flex-wrap: nowrap; margin-top: 0; background-color: transparent;} 
    .wg-prodcate-list .item-list{display: flex;  flex-wrap: nowrap; white-space: nowrap; 
        border-radius: 5px; background-color: var(--color-light);
    }
    .wg-prodcate-list li{width: 220px;}

    .product-slider-center .wrapper{margin: 0;}
    .product-slider-center .wrapper .content .desc{opacity: 1;}
    .product-slider-center .swiper-slide-active .wrapper {margin: 0px;}
    .product-slider-center .swiper-slide-active .wrapper .cover{box-shadow: none;}
    .product-slider-center .swiper-slide-active .wrapper .content{margin-top: 20px;}
    .product-slider-center .swiper-slide-active .wrapper .content .title{font-size: var(--typo-md);}

    .product-nav .link {padding: 15px 30px 15px 15px;font-size: var(--typo-sm);}
    .product-nav .link.sub:before {right: 10px;}
    .product-nav .link.subII:before {right: 10px;}
    .product-nav .item-list .link {padding: 10px 30px;font-size: var(--typo-sm);}
    .product-nav .item-list .link:before{left: 13px; top: 12px;}
    .product-nav .item-list .link:after {right: 10px;}

    .product-list .item-list{margin: -10px;}
    .product-list .item-list > .item{padding: 10px;}
    .product-list .content {height: 85px;padding: 15px;}
    .product-list .content .title{font-size: var(--typo-sm); margin-bottom: 3px;}
    .product-list .content .desc{font-size: var(--typo-xs);}
    .product-list .content .line {height: 3px; margin-bottom: 10px;}
}

@media (max-width: 767px) {
    .wg-prodcate {margin-top: -40px;}
    .wg-prodcate-list li {width: 170px;}
    .wg-prodcate-list .link {height: 90px;}
    .wg-prodcate-list .icon {width: 40px;height: 40px;}
    .wg-prodcate-list .title {margin-top: 10px;font-size: var(--typo-sm);}

    .product-slider-center .wrapper .content .title{font-size: var(--typo-sm);}
    .product-slider-center .wrapper .content .desc{font-size: var(--typo-xs);}
    .product-slider-center .swiper-slide-active .wrapper .content .title{font-size: var(--typo-sm);}
    .product-slider-center .swiper-pagination {margin-top: 30px;}

    .product-nav .btn-more{display: block;}
    .product-nav > .accordion{transition: var(--transition); height: 0; opacity: 0; overflow: hidden; pointer-events: none;}
    .product-nav > .accordion.active{height: auto; opacity:1; overflow: visible; pointer-events: visible; margin-bottom: 15px;}

    .product-list .item-list{margin: -5px;}
    .product-list .item-list > .item{padding: 5px;}

}