$--report-height: 400px;
.wg-province-report {
    .card {
        min-height: $--report-height;
    }
    .default-table .scroll-wrapper {
        height: calc($--report-height - 50px);
    }
    .default-table .mcscroll {
        height: calc($--report-height - 50px);
    }
    // .scroll-swiper .swiper-slide {
    //     height: calc($--report-height - 50px);
    // }
}
.wg-charts-report {
    .card {
        min-height: $--report-height;
    }
    .chart-container {
        height: calc($--report-height - 2rem);
    }
    .nav-tabs {
        justify-content: end;
        align-items: center;
        border: none;
        margin-bottom: -34px;
    }
    .nav-tabs .nav-link {
        border: none;
        border-bottom: 2px solid transparent;
        padding: 0 0.5rem;
        margin-bottom: 0;
        .icon {
            svg {
                max-width: 22px;
                max-height: 30px;
            }
        }
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        border-block-color: var(--color-primary);
        .icon svg path {
            fill: var(--color-primary);
        }
    }
}

@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
    .wg-charts-report {
        margin-top: 2rem;
    }
}
@media (max-width: 767px) {
    // .wg-charts-report {
    //     margin-top: 3rem;
    // }
}
@media (max-width: 575px) {
}
