.wg-weblinks {
    .weblink-list {
        .wrapper {
            border-radius: 0.325rem;
            overflow: hidden;
            color: #ffffff;
            background: var(--color-primary);
            .thumbnail {
                width: 96px;
                .cover {
                    padding-top: 100%;
                }
            }
            .inner {
                padding: 0 15px;
                .title {
                    font-size: var(--typo-default);
                    line-height: var(--line-height-1-4);
                    font-weight: var(--fw-medium);
                }
            }
        }
    }
}
.weblink-swiper {
    &.swiper-horizontal {
        padding-bottom: 60px;
        margin-bottom: -60px;
    }
}

@media (min-width: 1200px) {
    .weblink-swiper .swiper-slide.swiper-slide-next + .swiper-slide + .swiper-slide {
        opacity: 1;
    }
}

@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
    .wg-weblinks .weblink-list .wrapper .thumbnail {
        width: 90px;
    }
}
@media (max-width: 1199px) {
    .weblink-swiper {
        &.swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: 18px;
        }
    }
    .wg-weblinks .weblink-list .wrapper .thumbnail {
        width: 80px;
    }
}
@media (max-width: 991px) {
    .weblink-swiper {
        &.swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: 24px;
        }
    }
    .wg-weblinks .weblink-list .wrapper .thumbnail {
        width: 70px;
    }
}
@media (max-width: 767px) {
    .weblink-swiper {
        &.swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: 26px;
        }
    }
    .wg-weblinks .weblink-list .wrapper .thumbnail {
        width: 60px;
    }
    .wg-weblinks .weblink-list .wrapper .inner {
        padding: 0 15px;
    }
    .wg-weblinks .weblink-list .wrapper .inner .title {
        font-size: var(--typo-sm);
    }
}
@media (max-width: 575px) {
    .wg-weblinks .weblink-list .wrapper .thumbnail {
        width: 50px;
    }
    .wg-weblinks .weblink-list .wrapper .inner .title {
        font-size: var(--typo-xs);
    }
}
